@model _4PsPH.Models.ParentLeaderHousehold

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ParentLeaderHousehold</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Household.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Household.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.GivenName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.GivenName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTimeCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTimeCreated)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ParentLeaderHouseholdId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
