@using _4PsPH.Models
@model LoginViewModel
@{
    Layout = "../Shared/_Layout_e.cshtml";
    ViewBag.Title = "Log in";
}

<div class="row" style="margin-top:40px;">
    <div class="col-md-4 col-md-offset-4">
        <div class="row" style="margin-bottom:20px;">
            <div class="col-md-12">
                <center>
                    <img class="animated fadeInDown" src="~/Content/images/4Ps_logo.png" width="60" />
                </center>
            </div>
        </div>
        <div class="row">
            <div class="shadow-wrapper animated slideInUp">
                <div class="window-heading">
                    <div class="col-md-12">
                        <center style="color:#56A8FB !important; font-family: 'Leckerli One', cursive; font-weight:normal; padding-top:15px; font-size:1.5em;">
                            4P&nbsp;'s Cloud Solution
                        </center>
                    </div>
                </div>
                <div class="window">
                    <div class="col-md-12">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @*
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>

                    <p>
                        @Html.ActionLink("Register as a new user", "Register")
                    </p>
                            *@

                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="submit" value="Log in" class="btn btn-primary btn-block" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="window-footer">

                </div>
            </div>
        </div>

        <div style="margin-top:5px; width:100%; display:block;">
            @Html.ActionLink("Back to Home", "Index",null,new { @class="pull-left",@style="color:#111111" })

            @Html.ActionLink("Forgot your password?", "ForgotPassword", null, new { @class="pull-right" })
        </div>
    </div>
</div>

@*
    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
           
            </section>
        </div>
        <div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>
*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}