@model IEnumerable<_4PsPH.Models.Household>

@{
    ViewBag.Title = "Households";
}

<div class="shadow-wrapper">
    <div class="row">
        <div class="window-heading">
            <div class="col-md-5">
                <div class="links">
                    <strong>
                        @ViewBag.Title
                    </strong>
                </div>
            </div>

            <div class="col-md-4" style="text-align:right;">
                <a href="@Url.Action("Create")" class="btn btn-info">Create Household <span class="glyphicon glyphicon-plus-sign"></span></a>

                <a href="#" class="btn btn-danger excluded"><font>Show Excluded</font> <span class="glyphicon glyphicon-thumbs-down"></span></a>
            </div>

            <div class="col-md-3" style="text-align:right;">
                <div class="input-group">
                    <input type="text" class="form-control all-search" placeholder="Search All Fields" aria-describedby="basic-addon2">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    Address
                </th>
                <th>
                    Date Created
                </th>
                <th>
                    Status
                </th>
                <th>
                    Member Count
                </th>
                <th>
                    City
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr @if (item.IsExcluded) { <text>data-excluded="yes"</text> } else { <text>data-excluded="no"</text> }>
                    <td>
                        @item.HouseholdId
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @if (item.Address != null)
                        {
                            <a href="#" data-toggle="tooltip" class="btn btn-default btn-xs" title="@item.Address">View <span class="glyphicon glyphicon-info-sign"></span></a>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTimeCreated)
                    </td>
                    <td>
                        @if (item.IsExcluded)
                        {
                            <text><font style="color:#EF5350;">Excluded</font></text>
                        }
                        else
                        {
                            <text>Active</text>
                        }
                    </td>
                    <td>
                        @item.People.Count() &emsp;<a href="@Url.Action("Details", new { id=item.HouseholdId })" class="btn btn-info btn-xs">View Members</a>
                    </td>
                    <td>
                        @item.City.Name
                    </td>
                    <td style="text-align:right;">
                        <a href="@Url.Action("Edit",new { id=item.HouseholdId })" class="btn btn-xs btn-warning">Edit <span class="glyphicon glyphicon-pencil"></span></a>
                        
                        @if (item.IsExcluded)
                        {
                            <a href="@Url.Action("Status",new { id=item.HouseholdId })" class="btn btn-xs btn-success">Activate <span class="glyphicon glyphicon glyphicon-ok-sign"></span></a>
                        }
                        else
                        {
                            <a href="@Url.Action("Status",new { id=item.HouseholdId })" class="btn btn-xs btn-danger">Exclude <span class="glyphicon glyphicon-ban-circle"></span></a>
                        }

                        @if (item.People.Count() == 0 && item.HouseholdHistory.Count() == 0)
                        {
                            @Html.ActionLink("Delete", "Delete", new { id = item.HouseholdId },new { @class= "btn btn-xs btn-danger" })
                        }
                        @*
                            @Html.ActionLink("Edit", "Edit", new { id = item.HouseholdId }) |
                             @Html.ActionLink("Details", "Details", new { id = item.HouseholdId }) |
                             @Html.ActionLink("Delete", "Delete", new { id = item.HouseholdId })
                        *@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            var datatable = $("table").DataTable({
                paging: true,
                "pageLength": 20,
                "dom": "<'row'<'table-window'<'table-responsive'rt>>><'window-footer'<'col-md-6'i><'col-md-6'p>>",
                "columnDefs": [
                    { "orderable": false, "targets": 7 }
                ]
            });

            $(".all-search").keyup(function () {
                datatable.search($(this).val()).draw();
            })

            $(document).on("click", ".excluded", function () {
                $.fn.dataTable.ext.search.pop();
                datatable.draw();

                $.fn.dataTable.ext.search.push(
                  function (settings, data, dataIndex) {
                      return $(datatable.row(dataIndex).node()).attr('data-excluded') == "yes";
                  }
                );
                datatable.draw();

                $(this).removeClass("btn-danger excluded");
                $(this).addClass("btn-primary included");
                $(this).find("span").removeClass("glyphicon-thumbs-down");
                $(this).find("span").addClass("glyphicon-thumbs-up");
                $(this).find("font").html("Show Active");
            });

            $(document).on("click", ".included", function () {
                $.fn.dataTable.ext.search.pop();
                datatable.draw();

                $.fn.dataTable.ext.search.push(
                  function (settings, data, dataIndex) {
                      return $(datatable.row(dataIndex).node()).attr('data-excluded') == "no";
                  }
                );
                datatable.draw();

                $(this).addClass("btn-danger excluded");
                $(this).removeClass("btn-primary included");
                $(this).find("span").addClass("glyphicon-thumbs-down");
                $(this).find("span").removeClass("glyphicon-thumbs-up");
                $(this).find("font").html("Show Excluded");
            });
        });
    </script>
}