@model IEnumerable<_4PsPH.Models.Household>

@{
    ViewBag.Title = "Households";
}

<div class="row">
    <div class="window-heading">
        <div class="col-md-5">
            <div class="links">
                <strong>
                    @ViewBag.Title
                </strong>
            </div>
        </div>

        <div class="col-md-4" style="text-align:right;">
            <button class="btn btn-info">Create Household <span class="glyphicon glyphicon-plus-sign"></span></button>

            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-active">Default</button>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        Choose <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Default</a></li>
                        <li><a href="#">City 1</a></li>
                        <li><a href="#">City 2</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-3" style="text-align:right;">
            <div class="input-group">
                <input type="text" class="form-control all-search" placeholder="Search All Fields" aria-describedby="basic-addon2">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            </div>
        </div>
    </div>
</div>

@*
    <div class="row">
        <div class="table-window">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DateTimeCreated)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IsExcluded)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CityId)
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateTimeCreated)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsExcluded)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CityId)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.HouseholdId }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.HouseholdId }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.HouseholdId })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
*@

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Date Created
            </th>
            <th>
                Status
            </th>
            <th>
                Member Count
            </th>
            <th>
                City
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTimeCreated)
                </td>
                <td>
                    @if (item.IsExcluded)
                    {
                        <text>Excluded</text>
                    }
                    else
                    {
                        <text>Active</text>
                    }
                </td>
                <td>
                    @item.People.Count() &emsp;<a href="#" class="btn btn-info btn-xs">View Members</a>
                </td>
                <td>
                    @item.City.Name
                </td>
                <td style="text-align:right;">
                    <a href="#" class="btn btn-xs btn-warning">Edit <span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="#" class="btn btn-xs btn-danger">Exclude <span class="glyphicon glyphicon-ban-circle"></span></a>

                    @*
                       @Html.ActionLink("Edit", "Edit", new { id = item.HouseholdId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.HouseholdId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.HouseholdId }) 
                    *@
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@section scripts{
    <script>
        $(document).ready(function () {
            var datatable = $("table").DataTable({
                paging: true,
                "pageLength": 20,
                "dom": "<'row'<'table-window'<'table-responsive'rt>>><'window-footer'<'col-md-6'i><'col-md-6'p>>",
                "columnDefs": [
                    { "orderable": false, "targets": 5 }
                ]
            });

            $(".all-search").keyup(function () {
                datatable.search($(this).val()).draw();
            })
        });
    </script>
}