@model _4PsPH.Models.Person

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EducationalAttainment.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EducationalAttainment.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Household.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Household.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Occupation.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occupation.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RelationToGrantee.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RelationToGrantee.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GivenName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GivenName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsBeneficiary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsBeneficiary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsGrantee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsGrantee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsParentLeader)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsParentLeader)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsExcluded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsExcluded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTimeCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTimeCreated)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PersonId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
