@model _4PsPH.Models.Ticket

@{
    ViewBag.Title = "Ticket";
}

<div class="row">
    <div class="col-md-5 left-ui">
        <a href="@Url.Action("Index")" class="outside-link">« Back to Tickets List</a>
        <hr class="heading-cut" />
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="padding:0px;">
        <div class="col-md-5" style="padding:0px;">
            <div class="shadow-wrapper">
                <div class="row">
                    <div class="window-heading">
                        <div class="col-md-12">
                            <div class="links">
                                <strong>
                                    @ViewBag.Title &emsp;»&emsp;Editing Ticket ID; @Model.TicketId for @Model.Person.getFullName()
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="window">
                        <div class="col-md-12">
                            @using (Html.BeginForm("Edit", "Tickets", FormMethod.Post, new { @id = "form" }))
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.TicketId)
                                    @Html.HiddenFor(model => model.DateTimeCreated)
                                    @Html.HiddenFor(model => model.StatusId)
                                    @Html.HiddenFor(model => model.PersonId)
                                    @Html.HiddenFor(model => model.CreatedAtOffice)

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>Category</label>
                                            @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>Mobile Number (to be notified for updates)</label>
                                            @Html.DropDownList("MobileNumberId", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.MobileNumberId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>Supporting Info</label>
                                            @Html.EditorFor(model => model.IdAttached, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.IdAttached, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="window-footer window-footer-btn">
                    <div class="col-md-12" style="text-align:right;">
                        <button class="btn btn-primary" type="submit" form="form">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
