@model IEnumerable<_4PsPH.Models.FDSIssue>

@{
    ViewBag.Title = "Family Development Sessions Compliance Issues";
}

<div class="shadow-wrapper">
    <div class="row">
        <div class="window-heading">
            <div class="col-md-5">
                <div class="links">
                    <strong>
                        @ViewBag.Title
                    </strong>
                </div>
            </div>

            <div class="col-md-4" style="text-align:right;">
                <a href="#" data-toggle="modal" data-target="#resolveModal" class="btn btn-info">Resolve Issues <span class="fa fa-calendar-check-o"></span></a>
            </div>

            <div class="col-md-3" style="text-align:right;">
                <div class="input-group">
                    <input type="text" class="form-control all-search" placeholder="Search All Fields" aria-describedby="basic-addon2">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FDS.Name)
                </th>
                <th>
                    Client
                </th>
                <th>
                    Household # - Name
                </th>
                <th>
                    Status
                </th>
                <th>
                    Date Created
                </th>
                <th>
                    Comment
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FDS.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Person.GivenName)
                    </td>
                    <td>
                        @item.Person.HouseholdId - @item.Person.Household.Name
                    </td>
                    <td>
                        @if (item.IsResolved)
                        {
                            <font style="color:#3ec405">Resolved <span  data-toggle="tooltip" class="glyphicon glyphicon-info-sign" title="@item.ResolveComment on @item.ResolvedDate.Value.ToString("MM/dd/yy")"></span></font>
                        }
                        else
                        {
                            <font style="color:#a4a2a2">Unresolved</font>
                        }
                    </td>
                    <td>
                        @item.DateTimeCreated.ToString("MM/dd/yy")
                    </td>
                    <td>
                        @item.Comment
                    </td>
                    <td style="text-align:right;">
                        @if (!item.IsResolved)
                        {
                            @Html.ActionLink("Resolve", "Resolve", new { id = item.FDSIssueId }, new { @class = "btn btn-success btn-xs" })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="resolveModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Resolve Issues</h4>
            </div>
            @using (Html.BeginForm("ResolveDateRange","FDSIssues"))
            {
                <div class="modal-body">
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <label>From</label>
                        <input class="form-control datepicker" name="date1" id="date1" required />
                    </div>

                    <div class="form-group">
                        <label>To</label>
                        <input class="form-control datepicker" id="date2" name="date2" required />
                    </div>

                    <div class="form-group">
                        <div id="result"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="Submit" class="btn btn-info">Submit <span class="glyphicon glyphicon-check"></span></button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            }
        </div>

    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            var datatable = $("table").DataTable({
                paging: true,
                "pageLength": 10,
                "dom": "<'row'<'table-window'<'table-responsive'rt>>><'window-footer'<'col-md-6'i><'col-md-6'p>>",
                "columnDefs": [
                    { "orderable": false, "targets": 6 }
                ]
            });
            
            $('.datepicker').datetimepicker({
                format: 'MM/DD/YYYY',
                widgetPositioning: {
                    horizontal: 'auto',
                    vertical: 'bottom'
                }
            });

            $(".all-search").keyup(function () {
                datatable.search($(this).val()).draw();
            })
        });
    </script>
}