@model IEnumerable<_4PsPH.Models.Hospital>

@{
    ViewBag.Title = "Hospitals";
}

<div class="shadow-wrapper">
    <div class="row">
        <div class="window-heading">
            <div class="col-md-5">
                <div class="links">
                    <strong>
                        @ViewBag.Title
                    </strong>
                </div>
            </div>

            <div class="col-md-4" style="text-align:right;">
                <a href="@Url.Action("Create")" class="btn btn-info">Add Hospital <span class="glyphicon glyphicon-plus-sign"></span></a>
            </div>

            <div class="col-md-3" style="text-align:right;">
                <div class="input-group">
                    <input type="text" class="form-control all-search" placeholder="Search All Fields" aria-describedby="basic-addon2">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    # of Beneficiaries
                </th>
                <th>
                    # of Compliance Issues
                </th>
                <th>
                    Date Created
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @item.People.Count
                    </td>
                    <td>
                        @item.HealthCheckupIssues.Count(a => a.IsResolved == true) / @item.HealthCheckupIssues.Count() resolved
                    </td>
                    <td>
                        @item.DateTimeCreated
                    </td>
                    <td style="text-align:right;">
                        <a href="@Url.Action("GenerateComplianceForm0to5", new { id=item.HospitalId })" class="btn btn-xs btn-info">Compliance Form 0-5 yrs old<span class="glyphicon glyphicon-export"></span></a>

                        <a href="@Url.Action("GenerateComplianceForm6to14", new { id=item.HospitalId })" class="btn btn-xs btn-info">Compliance Form 6-14 yrs old<span class="glyphicon glyphicon-export"></span></a>

                        <a href="@Url.Action("GenerateComplianceFormPregnant", new { id=item.HospitalId })" class="btn btn-xs btn-info">Compliance Form for Pregnant Women<span class="glyphicon glyphicon-export"></span></a>

                        <a href="@Url.Action("Edit",new { id=item.HospitalId })" class="btn btn-xs btn-warning">Edit <span class="glyphicon glyphicon-pencil"></span></a>

                        @if (item.People.Count() == 0 && item.HealthCheckupIssues.Count() == 0)
                        {
                            @Html.ActionLink("Delete", "Delete", new { id = item.HospitalId }, new { @class = "btn btn-xs btn-danger" })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section styles{
    <style>
        table.dataTable.table-condensed .sorting:after, table.dataTable.table-condensed .sorting_asc:after, table.dataTable.table-condensed .sorting_desc:after {
            top: 3px !important;
        }
    </style>
}

@section scripts{
    <script>
        $(document).ready(function () {
            var datatable = $("table").DataTable({
                paging: true,
                "pageLength": 20,
                "dom": "<'row'<'table-window'<'table-responsive'rt>>><'window-footer'<'col-md-6'i><'col-md-6'p>>",
                "columnDefs": [
                    { "orderable": false, "targets": 4 }
                ]
            });

            $(".all-search").keyup(function () {
                datatable.search($(this).val()).draw();
            })
        });
    </script>
}