@model IEnumerable<_4PsPH.Models.CaseSummaryReportComment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CaseSummaryReport.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTimeCreated)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CaseSummaryReport.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTimeCreated)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CaseSummaryReportCommentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CaseSummaryReportCommentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CaseSummaryReportCommentId })
        </td>
    </tr>
}

</table>
