@model IEnumerable<_4PsPH.Models.Person>

@{
    ViewBag.Title = "Clients";
}

<div class="shadow-wrapper">
    <div class="row">
        <div class="window-heading">
            <div class="col-md-9">
                <div class="links">
                    <strong>
                        @ViewBag.Title
                    </strong>
                </div>
            </div>

            <div class="col-md-3" style="text-align:right;">
                <div class="input-group">
                    <input type="text" class="form-control all-search" placeholder="Search All Fields" aria-describedby="basic-addon2">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Household</th>
                <th>City</th>
                <th>Type</th>
                <th>Status</th>
                <th>Age</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.getFullName()</td>
                    <td><a href="@Url.Action("Details","Households", new { id = item.HouseholdId})">@item.Household.Name</a></td>
                    <td>@item.Household.City.Name</td>
                    <td>
                        @if (item.IsBeneficiary.HasValue)
                        {
                            if (item.IsBeneficiary.Value)
                            {
                                <text>Beneficiary</text>
                            }
                        }
                        @if (item.IsGrantee.HasValue && item.IsBeneficiary.HasValue)
                        {
                            if (item.IsGrantee.Value && item.IsBeneficiary.Value)
                            {
                                <text> / </text>
                            }
                        }
                        @if (item.IsGrantee.HasValue)
                        {
                            if (item.IsGrantee.Value)
                            {
                                <font style="color:#ffd800">Grantee</font>
                            }
                        }
                    </td>
                    <td>
                        @if (item.IsExcluded)
                        {
                            <text><font style="color:#EF5350;">Excluded</font></text>
                        }
                        else
                        {
                            <text>Active</text>
                        }
                    </td>
                    <td>@item.getAge()</td>
                    <td style="text-align:right;">
                        <a href="@Url.Action("Details",new { id = item.PersonId})" class="btn btn-info btn-xs">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            var datatable = $("table").DataTable({
                paging: true,
                "pageLength": 10,
                "dom": "<'row'<'table-window'<'table-responsive'rt>>><'window-footer'<'col-md-6'i><'col-md-6'p>>",
                "columnDefs": [
                    { "orderable": false, "targets": 5 }
                ]
            });

            $(".all-search").keyup(function () {
                datatable.search($(this).val()).draw();
            })
        });
    </script>
}