@model _4PsPH.Models.EndorsementComment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EndorsementComment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Endorsement.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endorsement.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTimeCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTimeCreated)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EndorsementCommentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
