@model _4PsPH.Models.Endorsement

@{
    ViewBag.Title = "Endorsement Letter";
}

<div class="row">
    <div class="col-md-6 col-md-offset-2 left-ui">
        <a href="@Url.Action("Details","Tickets", new { id = Model.TicketId })" class="outside-link">« Back to Ticket Details</a>
    </div>

    @*
        <div class="col-md-2 right-ui"><button class="btn btn-info" id="default-content">Use Default Content</button></div>
    *@
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <hr class="heading-cut" />
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="padding:0px;">
        <div class="col-md-8 col-md-offset-2" style="padding:0px;">
            <div class="shadow-wrapper">
                <div class="row">
                    <div class="window-heading">
                        <div class="col-md-12">
                            <div class="links">
                                <strong>
                                    @ViewBag.Title &emsp;»&emsp;Endorsement letter for Ticket Number @Model.TicketId ( @Model.Ticket.Person.getFullName() )
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @using (Html.BeginForm("Edit", "Endorsements", FormMethod.Post, new { @id = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            @Html.HiddenFor(model => model.EndorsementId)
                            @Html.HiddenFor(model => model.TicketId)
                            @Html.HiddenFor(model => model.DateTimeCreated)
                            @Html.HiddenFor(model => model.LastUpdated)
                            @Html.HiddenFor(model => model.DateTimeApproved)
                            @Html.HiddenFor(model => model.IsApproved)

                            <div class="form-group" style="margin-bottom:0px;">
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Body, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="window-footer window-footer-btn">
                    <div class="col-md-12" style="text-align:right;">
                        <button class="btn btn-primary" type="submit" form="form">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section styles{
    <style>
        .mce-panel {
            border: none !important;
        }
    </style>
}

@section scripts{
    <script src="@Url.Content("~/Content/tinymce/tinymce.min.js")"></script>
    <script>
        tinymce.init({
            selector: '#Body',
            height: 100,
            menubar: false,
            plugins: [
              'advlist autolink lists link charmap print preview anchor',
              'searchreplace visualblocks fullscreen',
              'insertdatetime media table contextmenu table'
            ],
            toolbar: 'undo redo | insert | styleselect | bold italic | bullist numlist | link | table',
        });
    </script>
}